:root {
    --primary-dark:rgb(9, 13, 90);
    --primary:rgb(43, 48, 150);

    --s1: 0.6rem;
    --s2: 1rem;
    --s3: 1.5rem;
    --s4: 3.5rem;
}

html, body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    position: relative;
}

#loading {
    position: fixed;
    top: 50vh;
    right: 50%;
    transform: translate(50%, 50%);
    display: none;
    gap: 5px;
    background-color: rgb(226, 226, 229);
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    border-radius: 10px;
    animation: fadeIn 1s linear;
    z-index: 10;
}

#loading div {
    margin-top: 10px;
    border: 5px solid rgb(173, 171, 171);
    border-top: 5px solid blue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top: 5px solid blue;
    }
    25% {
        border-top: 5px solid green;
    }

    50% {
        border-top: 5px solid yellow;
    }
    75% {
        border-top: 5px solid red;
    }

    100% {
        transform: rotate(360deg);
        border-top: 5px solid blue;
    }
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body > h3 {
    display: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 70px;
    padding: 10px;
    background-color: rgb(214, 38, 38);
    border-radius: 5px;
}

header {
    background-color: rgb(8, 8, 97);
    color: white;
    padding: var(--s1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: var(--s2);
}

header div {
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

header input{
    max-width: 150px;
    width: 50%;
}

header div button, input {
    padding: 2px 10px;
    border: none;
    border-radius: 5px;
}

header button {
    cursor: pointer;
}

.astronomyPicture {
    background-color: white;
    margin: 5% 10%;
    padding: var(--s1) var(--s2);
    border-radius: 5px;
}

.astronomyPicture img {
    object-fit: contain;
    max-width: 50%;
}

article {
    display: flex;
}

.text-container {
    padding: 10px;
}

section h2 {
    padding: var(--s3);
}

.pictures-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.picture-container {
    margin: -2px 0 -2px 0;
    flex: 0 0 50%;
}

.picture-container:hover {
    transform: scale(1.02);
}

.picture-container img {
    padding: 0;
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.picture-container iframe {
    padding: 0;
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 300px;
}

#allScreen {
    width: 100%;
    height: 100%;
}

.picture-details-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Imposta una larghezza massima per schermi piccoli */
    max-width: 100%; /* Limita la larghezza su schermi grandi */
    height: 100%;
    max-height: 100%; /* Limita l'altezza per evitare overflow */
    z-index: 9;
    background-color: rgba(98, 98, 98, 0.668);
    display: none;
    justify-content: center;
    overflow-y: auto; /* Permette lo scroll se il contenuto supera l'altezza */
    padding: 3% 18%; /* Padding per lasciare spazio sui bordi */
    box-sizing: border-box;
}

.picture-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.935); /* Più opaco per migliore leggibilità */
    padding: 6% 15%;
    border-radius: 8px; /* Aggiunge angoli arrotondati */
    width: 100%;
    box-sizing: border-box;
}

.picture-details div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.picture-details h2 {
    padding: 10px 0;
    text-align: center;
    font-size: 1.5em;
}

.picture-details p {
    padding: 10px 0;
    text-align: justify;
    font-size: 1em;
    margin: 0;
}

.picture-details img {
    width: 100%;
    max-width: 70%; /* Limita la larghezza massima dell'immagine */
    height: auto;
    object-fit: contain;
    margin: 20px 0;
}

.picture-details button {
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--primary-dark);
    color: white;
    cursor: pointer;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative; 
    height:40vh; 
    width:100%
}

#marsToday {
    border-radius: 10px;
    margin: 20px auto;
    width: fit-content;
    background-color: white;
    padding: 24px;
}

@media (min-width: 768px) {
    header {
        background-color: rgb(8, 8, 97);
        color: white;
        padding: var(--s1);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    header div {
        height: 30px;
        width: 300px;
        display: flex;
        justify-content: space-evenly;
    }

    .pictures-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }
    
    .picture-container {
        margin: -2px 0 -2px 0;
        flex: 0 0 33.3%;
    }
    
    .picture-container:hover {
        transform: scale(1.02);
    }
    
    .picture-container img {
        padding: 0;
        margin: 0;
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    
    .picture-container iframe {
        padding: 0;
        margin: 0;
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}

@media (min-width: 1400px){
    .pictures-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }
    
    .picture-container {
        margin: -2px 0 -2px 0;
        flex: 0 0 25%;
    }
    
    .picture-container:hover {
        transform: scale(1.02);
    }
    
    .picture-container img {
        padding: 0;
        margin: 0;
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    
    .picture-container iframe {
        padding: 0;
        margin: 0;
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}